.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.approve-content {
    text-align: center;
}

.button-padding {
    margin: 12px;
    margin-top: 36px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}